[Unit]
Description=Sensor Dashboard (Streamlit)
After=network-online.target multinode_sensor_demo_hub.service
Wants=network-online.target

[Service]
ExecStart=/home/arduino/multinode_sensor_demo/.venv/bin/streamlit run /home/arduino/multinode_sensor_demo/dashboard.py --server.address 0.0.0.0 --server.port 8501 --server.headless true
WorkingDirectory=/home/arduino/multinode_sensor_demo
Restart=always
RestartSec=5
User=arduino

[Install]
WantedBy=multi-user.target