[Unit]
Description=Sensor Dashboard (Streamlit)
After=network-online.target multinode_aq_hub.service
Wants=network-online.target

[Service]
ExecStart=/home/arduino/multinode_aq/hub/.venv/bin/streamlit run /home/arduino/multinode_aq/hub/dashboard.py --server.address 0.0.0.0 --server.port 8501 --server.headless true
WorkingDirectory=/home/arduino/multinode_aq/hub
Restart=always
RestartSec=5
User=arduino

[Install]
WantedBy=multi-user.target
