[Unit]
Description=Sensor Hub (MQTT to SQLite)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/arduino/multinode_aq/.venv/bin/python /home/arduino/multinode_aq/hub.py
WorkingDirectory=/home/arduino/multinode_aq
Restart=always
RestartSec=5
User=arduino

[Install]
WantedBy=multi-user.target
